<form (ngSubmit)="submit()" [formGroup]="newUserForm">
    <h1 mat-dialog-title>Add New User</h1>
    <mat-dialog-content>
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" [errorStateMatcher]="matcher" required />
            <mat-error *ngIf="newUserForm.controls['name'].hasError('required')">
                Name is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher"
                   placeholder="Ex. pat@example.com" required />
            <mat-error *ngIf="newUserForm.controls['email'].hasError('email') && !newUserForm.controls['email'].hasError('required')">
                Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="newUserForm.controls['email'].hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Phone number</mat-label>
            <app-my-tel-input formControlName="phone" required></app-my-tel-input>
            <mat-icon matSuffix>phone</mat-icon>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="!newUserForm.valid">Submit</button>
    </mat-dialog-actions>
</form>
